<template lang="">
    <div class="login_form">
        <input ref="login_form_username" v-model="login_form.username" type="text" placeholder="账号:">
        <input ref="login_form_password" v-model="login_form.password" type="password" placeholder="密码:">
        <div class="code">
            <input ref="login_form_valid_code" v-model="login_form.valid_code" class="valid" type="text" placeholder="验证码:">
            <img @click="this.$parent.get_random_code" src="@/assets/img/login/code.png" alt="">
        </div>
        <button @click="login_submit">登录</button>                    
    </div>

    <div class="other_login">
        <p>其他登录方式</p>
        <div>
            <img src="@/assets/img/footer/qq.svg" alt="">
            <img src="@/assets/img/footer/github.svg" alt="">
        </div>   
    </div>
</template>

<script>
import axios from "axios"

export default {
    data(){
        return {
            login_form: {
                username: "",
                password: "",
                valid_code: "",
            },
        }
    },
    methods: {
        login_submit() {
            axios.post(this.$root.bak_base_url + '/api/login/', this.login_form).then(res=>{
                res = res.data;

                if(res.status === 200){
                    this.$message.success(res.msg);
                    //保存登录信息到cookie中
                    this.$cookies.set("user_token", res.token, "7d");  //前端cookie过期时间设置
                    this.$cookies.set("user_name", res.username, "7d")
                    
                    setInterval(()=>{
                        // this.$router.push("/");   // bug: 这种跳转方式会出现样式错乱...
                        window.location.href = "/"; 
                        
                    }, 500)
                }
                else{
                    this.$message.error(res.msg)
                    this.$refs[`login_form_${res.self}`].focus()
                }
            }).catch(err => {
                console.log(err);
            })
        },
    }
}

</script>
<style lang="">
</style>