<template lang="">
    <div class="login_form">
        <input ref="register_form_username" v-model="register_form.username" type="text" placeholder="账号:">
        <input ref="register_form_pwd" v-model="register_form.pwd" type="password" placeholder="密码:">
        <input ref="register_form_re_pwd" v-model="register_form.re_pwd" type="password" placeholder="确认密码:">
        <div class="code">
            <input ref="register_form_valid_code" v-model="register_form.valid_code" class="valid" type="text" placeholder="验证码:">
            <img @click="get_random_code" src="@/assets/img/login/code.png" alt="">
        </div>
            <button @click="register_submit">注册</button>                    
        </div>

        <div class="other_login">
        <p>其他注册方式</p>
        <div>
            <img src="@/assets/img/footer/qq.svg" alt="">
            <img src="@/assets/img/footer/github.svg" alt="">
        </div>   
    </div>
</template>
<script>
export default {
    data(){
        return{
            register_form: {
                username: "",
                pwd: "",
                re_pwd: "",
                valid_code: ""
            }
        }
    },
}
</script>
<style lang="">
    
</style>