body{
    margin: 0;
}

a{
    text-decoration: none;
    color: #333;
}

p{
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

li{
    list-style-type: none;
}

ul{
    padding: 0;
    margin: 0;
}

input{
    border: none;
    outline: none;
}

textarea{
    border: none;
    outline: none;
    resize: none;
}