<template lang="">
    <div class="nav">
        <img src="@/assets/img/backend/left_back.svg" alt="">
        <span><a href="/">首页</a></span>
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="scss">
    .nav{
        height: 50px;
        background-color: white;
        display: flex;
        align-items: center;
        img{
            height: 20px;
            margin: 0 15px 0 15px;
        }
    }

</style>