<template lang="">
    <aside>
        <div class="avatar">
            <img src="http://www.fengfengzhidao.com/media/avatars/20220813102731.jpg" alt="">
        </div>

        <div class="choices">
            <p><a href="/">首页</a></p>
            <p><a href="/self_center/">个人中心</a></p>
            <!-- {% if request.user.is_superuser %} -->
            <div class="admin_menu_list">
                <p><a href="/article_release">文章发布</a></p>
                <p>文章管理</p>
                <p>标签</p>
                <p>分类</p>
            </div>
            <!-- {% endif %} -->
        </div>
    </aside>
</template>
<script>
export default {
    
}
</script>
<style lang="scss">
aside{
    background-color: #304156;
    width: 12%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .avatar{
        margin-top: 10px;
        img{
            width: 100px;
            border-radius: 100px;
        }
    }

    .choices{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        p{
            color: #bfcbd9;
            height: 50px;
            width: 100%;
            line-height: 50px;
            text-align: center;
            cursor: pointer;
            margin: 0;

            &:first-child{
                margin-top: 10px;
            }

            &:hover{
                background-color: #263445;
            }
            a{
                color: #bfcbd9;
                display: block;
                width: 100%;
            }
        }
        //这里面样式??
        .admin_menu_list{
            display: flex;
            flex-direction: column;
            width: 100%;
            p{
                color: #bfcbd9;
                height: 50px;
                width: 100%;
                line-height: 50px;
                text-align: center;
                cursor: pointer;
                margin: 0;

                &:hover{
                    background-color: #263445;
                }
                a{
                    color: #bfcbd9;
                    display: block;
                    width: 100%;
                }
            }
        }                    
    }
}

</style>