<template lang="">
    <BackendAside></BackendAside>
    <main>
        <BackendNav></BackendNav>
        <ReleaseDrawer :preload_data="preload_data" :blog_content="blog_content" @contentErr="contentErrHandler($event)"></ReleaseDrawer>
        <v-md-editor v-model="blog_content" height="900px" ref="article_info_content"></v-md-editor>
    </main>
</template>
<script>
import axios from "axios"
import BackendAside from "../components/backend_page/backend-aside.vue"
import BackendNav from "../components/backend_page/backend-nav.vue"
import SelfCenter from "./SelfCenter.vue"
import ReleaseDrawer from "../components/backend_page/article_release_page/release-drawer.vue"


export default {
    components: {
        BackendAside,
        BackendNav,
        ReleaseDrawer
    },
    data() {
        return {
            preload_data: null,
            blog_content: "", 
        }
    },
    created(){
        this.get_preload_val();
    },
    extends: SelfCenter,
    methods: {
        get_preload_val(){
            axios.get(this.$root.bak_base_url + "/api/" + "all-blogs-info/").then((res) => {
                this.preload_data = res.data;
                // console.log(this.preload_data)
            })
        },
        contentErrHandler(event){
            this.$refs[`article_info_${event}`].focus()
        }
    },
}
</script>
<style lang="scss">
    main{
        width: 88%;
        height: 100%;
        background-color: #f0f2f5;
        display: flex;
        flex-direction: column;
    }   
</style>