<template lang="">
    <blogNav></blogNav>
    <!-- 文章轮播图 -->
    <blogBanner :article_info="article_info">
        <template v-slot:img_area="banner_sub">
            <div class="dynamic_banner_div">
                <img v-if="article_info" :src="banner_sub.base_article_url + article_info.cover" alt="">
            </div>
        </template>
    </blogBanner>

    <!-- 文章内容 -->
    <div class="main-area">
        <div class="article">
            <!-- 标题 -->
            <div class="title"  v-if="article_info">
                <div class="title_div">
                    <h2>
                        {{ article_info.title }}
                    </h2> 
                    <a v-show="canEdit" :href="'/backend/edit-article/' + article_info.nid" id="edit_btn" :is_owner="is_owner"><img src="@/assets/img/article/edit.svg" alt=""></a>
                </div>

                <p>
                    <span>更改时间: <i>{{ article_info.change_date }}</i></span>
                    <span>作者: <i>{{ article_info.author }}</i></span>
                    <span>来源: <i>{{ article_info.source }}</i></span>
                </p>
                
                <div class="tag">
                    <i title="文章标签" class="fas fa-tag"></i>
                    <i v-for="(tag, idx) in article_info.tags">{{ tag }}</i>
                </div>
            </div>
            <!-- 文章内容,由md插件渲染 -->
            <div class="content" id="article_content">
                <v-md-preview  v-if="article_info" :text="article_info.content"></v-md-preview>
            </div>
        </div>
    </div>
</template>


<script>
    import axios from 'axios'
    import blogNav from "../components/utils/blog-nav.vue";
    import blogBanner from "../components/utils/blog-banner.vue";
    import mainArea from "../components/mainArea.vue";

    export default {
        created(){
            this.get_article_info();
        },
        components: {
            blogNav,
            blogBanner,
            mainArea,
        },
        methods: {
            get_article_info(){
                axios.get(this.$root.bak_base_url + "/api" + window.location.pathname)
                .then((res) => {
                    if(res.status === 200){
                        this.article_info = res.data;
                        //日期格式的处理
                        let date_obj = new Date(this.article_info.change_date)    
                        this.article_info.change_date = date_obj.getFullYear() + "年" + date_obj.getMonth() + "月" + date_obj.getDay() + "日" + "-" + date_obj.getHours() + "时" + date_obj.getMinutes() + "分";
                        //是否是作者的判断
                        if(this.article_info.author === this.$cookies.get("user_name")){
                            this.canEdit = true;
                        }
                        else{
                            this.canEdit = false;
                        }
                    }
                }).catch((err) => {
                    console.log(err)
                })
            },
        },
        data() {
            return {
                article_info: null,
                article_cover_url: null,
                canEdit: true,                 //控制编辑按钮是是否出现
                test: "##1223",
                auth_config: {
                    "headers": {
                        "Authentication": localStorage.getItem("user_token")
                    }
                },
            }
        },
    }

</script>


<style lang="scss"> 
.main-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0eeee;
    .article{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: calc(100% - 2*(250px + 5%));        //这里调整内容区域宽度
        position: relative;

        //文章标题
        .title{
            border-radius: 5px 5px 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            margin: 20px 0 1px 0; 
            padding: 10px 0 10px 0;     
            .title_div {
                display: flex;
                align-items: center;

                a{
                    display: flex;
                    align-items: center;
                    img{
                        height: 30px;
                    }
                }

            }
    
            p{
                display: block;
                margin: 5px 0 5px 0;
            }

            span{
                font-size: 12px;
                margin: 0 5px 0 0;
            }

            .tag{
                font-size: 14px;
                color: #ff9900;
            }
        }

        //文章内容
        .content{
            background-color: white;
            li{
                list-style-type: unset;
            }
        }
        
        //发布评论
        .comment{
            border-radius: 5px;
            margin: 20px 0 20px 0;
            background-color: aqua;
            min-height: 200px;
            background-color: white;
            position: relative;

            .title{
                display: block;
                box-sizing: border-box;
                margin: 0 10px 10px 20px;
                border-bottom: 1px solid #e2e2e2;
            }

            .comment_input{
                position: relative;

                box-sizing: border-box;
                width: calc(100% - 40px);
                padding: 20px;
                margin: 0 20px 30px 20px;
                height: 150px;
                background-color: white;
                border-radius: 5px;
                position: relative;
                box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.1);
                &:focus{
                    border: 1px solid #ff9900;
                }
            }
            button{
                width: 70px;
                height: 35px;
                font-size: 16px;
                position: absolute;
                right: 20px;
                bottom: 10px;
                border: none;
                color: white;
                background-color: #ff9900;
                border-radius: 25px;
            }
            p{
                font-size: 14px;
                span{
                    color: #ff9900;
                }
            }
        }

        //评论回复
        .comment_item{
            width: 100%;
            margin: 0 0 20px 0;
            > ul{
                > li{
                    width: 100%;
                    display: flex;
                    .left{
                        width: 60px;
                        img{
                            width: 60px;
                        }
                    }
                    .right{
                        box-sizing: border-box;
                        padding: 10px 0 10px 10px;
                        width: 100%;
                        background-color: white;
                        border-radius: 5px;
                        margin: 0 0 0 10px;
                        position: relative;

                        h4{
                            font-size: 20px;
                        }
                        
                        &::after{
                            position: absolute;
                            left: -11px;
                            top: 15px;
                            content: "";
                            height: 1px;
                            width: 1px;
                            display: block;
                            border: 5px solid transparent;
                            border-right-color: white;
                        }
                        
                        .content{
                            margin: 10px 0 10px 0;
                            display: flex;
                            flex-direction: column;
                            font-size: 18px;
                            img{
                                width: 300px;
                                margin: 20px 10px 20px 0;
                            }


                        }

                        > .comment_info{
                            display: flex;
                            flex-direction: row;
                            border-bottom: 1px solid #e2e2e2;
                            padding-bottom: 10px;
                            justify-content: space-between;
                            span{
                                font-size: 14px;
                                margin: 0 10px 0 0;
                                cursor: pointer;
                            }

                            .thumb[status="already"]{
                                color: #ff9900;   
                            }

                            .del{
                                color: red;
                                // cursor: pointer;
                            }
                        }

                        .comment_reply{
                            margin: 10px 0 0 0;
                            > ul{
                                >li{
                                    box-shadow: 0 0 5px rgba(0,0,0, 0.2);

                                    width: 100%;
                                    display: flex;
                                    flex-direction: row;
                                    border-bottom: 1px solid #e2e2e2;

                                    .left{
                                        width: 40px;
                                        img{
                                            width: 40px;
                                        }
                                    }
                                    .right{
                                        box-sizing: border-box;
                                        width: 100%;
                                    }
                                    
                                    .comment_info{
                                        border: none;
                                        position: relative;
                                    }
                                }
                            }

                        }
                    }
                }
                .comment_reply{
                    display: none;
                }

                .comment_reply_area{
                   width: 100%;
                   display: flex;
                   flex-direction: column;
                   position: relative;
                   textarea{
                        box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.1);
                   }

                   button{
                        width: 90px;
                        height: 35px;
                        font-size: 16px;
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                        border: none;
                        color: white;
                        background-color: #ff9900;
                        border-radius: 25px;
                        cursor: pointer;
                   }
                }
            }

        }
    }
}



</style>