<template lang="">
    <main>
        <div class="left">
            <div>
                <img src="@/assets/img/login/2022.svg" alt="">
            </div>
        </div>
        <div class="right">
            <span>
                <a :class="{active: toggle==='login'}" @click="ViewChangehandler('login')">登录</a> / <a :class="{active: toggle==='regist'}" @click="ViewChangehandler('regist')">注册</a> / <a>扫码登录</a>
            </span>
            <!-- 动态引入组件 -->
            <component :is='currentMode'></component>
        </div>
    </main>
</template>

<script>
    import loginWin from "../components/auth_page/login-win.vue";
    import registWin from "../components/auth_page/regist-win.vue";
    
    export default {
        components: {
            loginWin,
            registWin
        },
        data() {
            return {
                currentMode: "loginWin",
                toggle: "login"
            }   
        },
        methods: {
            ViewChangehandler(choose) {
                let component_map = {
                    "regist": "registWin",
                    "login": "loginWin"
                }

                this.toggle = choose;
                this.currentMode = component_map[choose];
            },
            get_random_code(event) {
                event.target.src = this.$root.bak_base_url + "/api/random_code/"
            }
        },
    }
</script>
<style lang="scss">

body{
    width: 100%;
    height: 100vh;   //这里一定要注意是vh
    #app{
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    background-image: url("@/assets/img/login/background.svg");

}

main{
    width: 1000px;
    min-height: 500px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px rgba(0,0,0, 0.2);

    position: relative;
    .left{
        width: 50%;
        background-color: transparent;
        box-sizing: border-box;
        img{
            width: 480px;
        }
    }

    .right{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px 0 20px;

        span{
            margin-bottom: 20px;
            a{
                color: #a6a6b0;
                cursor: pointer;
            }
            
            a.active{
                color: #ff9800;
            }
            color: #a6a6b0;
        }

        .login_form{
            width: 100%;
            display: flex;
            flex-direction: column;

            input{
                height: 40px;
                margin-bottom: 20px;
                border-radius: 5px;
                padding-left: 10px; 
                border: 1px solid #f0eeee;
                transform: all 0.3;

                &:focus{
                    border: 1px solid #ff9800;
                }
            }

            button{
                cursor: pointer;
                border: none;
                border-radius: 5px;
                background-color: #ff9800;
                height: 40px;
                width: 100%;
                color: white;
                margin-bottom: 20px;
            }

            .code{
                display: flex;
                justify-content: space-between;
                width: 100%;

                input{
                    width: 50%;
                }

                img{
                    border-radius: 5px;
                    height: 42px;
                    cursor: pointer;
                    border: 1px solid #f0eeee;
                }
            }
        }

        .other_login{
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;

            //使用伪元素构造实线
            &::before{
                content: "";
                display: block;
                height: 1px;
                width: 150px;
                background-color: #a6a6b0;
                position: absolute;
                left: 112px;
                top: 12px;
            }
            &::after{
                content: "";
                display: block;
                height: 1px;
                width: 150px;
                background-color: #a6a6b0;
                position: absolute;
                right: 112px;
                top: 12px;
            }

            p{
                color: #a6a6b0;
                margin-bottom: 10px;
            }

            img{
                height: 40px;
                margin-right: 5px;

                &:last-child{
                    margin-right: 0px;
                }
            }
        }

    }
}

</style>