<template>
    <!-- 主题颜色根据vue变量进行切换 -->
    <link rel="stylesheet" :href="'/css/themes/'+ this.$root.theme + '.css'">

    <blogNav></blogNav>
    <blogBanner></blogBanner>
    
    <main>
        <mainArea></mainArea>
        <blogFooter></blogFooter>
    </main>

</template>
<script>
    import blogNav from "../components/utils/blog-nav.vue";
    import blogBanner from "../components/utils/blog-banner.vue";
    import mainArea from '../components/mainArea.vue'
    import blogFooter from "../components/utils/blog-footer.vue"

    export default {
        created(){  
            this.init_theme();       // 初始化主题
            
        },
        components: {
            blogNav,
            blogBanner,
            mainArea,
            blogFooter
        },
        methods: {
            /*初始化主页主题*/
            init_theme(){
                let theme = localStorage.getItem('theme')
                if(theme){
                    this.$root.theme = theme
                }
            },

        },      
    }
</script>

<style lang="scss">
#app{
    width: 100%;
    main{
        width: 100%;
        min-height: 400px;
        background-color: var(--main_bg);
        color: var(--main_color);
    }
}
</style>