<template lang="">
    <BackendAside></BackendAside> 
    <main>
        <BackendNav></BackendNav>
        <div class="user_info">
            <img src="@/assets/img/backend/12.jpg" alt="">

            <div class="info1">
                <p><span>用户名:</span> 梦之彼岸</p>
                <p><span>上次登录时间:</span> 10小时前</p>
                <p><span>账号状态:</span> 正常</p>
            </div>

            <div class="info2">
                <p><span>注册时间:</span> 2022年8月13日</p>
                <p><span>注册渠道:</span> qq邮箱注册</p>
                <p><span>邮箱:</span> 123@qq.com</p>
            </div>
        </div>
        
            
        <div class="control_btn">
            <el-row>
                <el-button @click="edit_dialog = true" type="primary" round>修改信息</el-button>
                <el-button type="success" round>修改头像</el-button>
                <el-button type="warning" round>修改密码</el-button>
                <el-button @click="logout" type="danger" round><a href="#">注销退出</a></el-button>
            </el-row>
            <el-dialog
                title="提示"
                :visible.sync="edit_dialog"
                width="35%"
                >
                <p>用户名</p>
                <el-input v-model="username_edit" placeholder="请输入要修改的用户名"></el-input>
                <p>密码</p>
                <el-input placeholder="请输入要修改密码" v-model="password_edit" show-password></el-input>
                <p>邮箱</p>
                <el-input v-model="username_edit" placeholder="请输入要修改的邮箱"></el-input>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="edit_dialog = false">取 消</el-button>
                    <el-button type="primary" @click="edit_dialog = false">确 定</el-button>
                </span>
            </el-dialog>
        
        </div>

        <div class="collected_article">
            <div class="title">
                <h3>收藏文章</h3>
            </div>
            
            <div class="articles">
                <!-- {% for article_obj in articles_info %}
                    <div class="item">
                        <div class="left">
                            <img src="{{ article_obj.cover.url.url }}" alt="">
                        </div>
                        <div class="right">
                            <h3>{{ article_obj.title }}</h3>
                            <p>{{ article_obj.abstract }}</p>
                        </div>
                    </div>
                {% endfor %} -->
            </div>
        </div>
    </main>
</template>

<script>
import BackendAside from "../components/backend_page/backend-aside.vue"
import BackendNav from "../components/backend_page/backend-nav.vue"
export default {
    components: {
        BackendAside,
        BackendNav
    }
}
</script>

<style lang="scss">
    body{
        width: 100%;
        height: 100vh;   //这里一定要注意是vh
        display: flex;

        #app{
            width: 100%;
            height: 100%;
            // background-color: bisque;

            display: flex;
            justify-content: center;
            align-items: center;

            main{
                width: 88%;
                height: 100%;
                background-color: #f0f2f5;
                display: flex;
                flex-direction: column;
        

                .user_info{
        
                    margin-top: 5px;
                    background-color: white;
                    height: 150px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 0 0 5px rgba(0,0,0, 0.2);

                    p{
                        font-size: 16px;
                        height: 40px;
                        line-height: 40px;
                        span{
                            font-weight: bolder;
                        }
                        // margin-top: 20px;
                    }
        
                    img{
                        width: 150px;
                        border-radius: 10px;
                        margin: 0 0 0 15px;
                    }
        
                    .info1, .info2{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        
                        width: 300px;
                        margin-left: 100px;
                    }
        
                }
        
                .control_btn{
                    margin-top: 10px;
                    display: flex;
                    background-color: white;
                    justify-content: space-around;
                    height: 60px;
                    align-items: center;

                    box-shadow: 0 0 5px rgba(0,0,0, 0.2);

                    .el-button{
                        margin-left: 50px;
                        a{
                            color: white;
                        }
                    }
                    .el-dialog__body {
                        p {
                            margin: 5px 0 10px 0;
                        }
                    }

                }
                
                .collected_article{
                    width: 100%;
                    // min-height: 400px;
                    background-color: white;
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;

                    .title{
                        text-align: center;
                    }

                    .articles{
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        padding: 10px 20px 0 20px;
                        box-sizing: border-box;

                        .item{
                            display: flex;
                            width: calc((100% - 40px - 15px)/3);
                            padding: 5px;
                            border-right: 1px solid #f0eeee;
                            border-top: 1px solid #f0eeee;

                            &:nth-child(3n){
                                border-right: none;
                            }
                            .left{
                                width: 20%;
                                display: flex;
                                align-items: center;
                                img{
                                    width: 100%;
                                }
                            }

                            .right{
                                width: 80%;
                                height: 80px;
                                margin-left: 5px;
                                p{
                                    // width: 100%;
                                    display:-webkit-box;
                                    -webkit-box-orient : vertical;
                                    -webkit-line-clamp: 2;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
</style>