<template lang="">
    <div v-for="(article_obj, idx) in all_blogs" class="list_blog card_component">
        <div class="title card_component" v-if="idx === 0">
            <h2>全部博文</h2>
        </div>
        <div class="body">
            <div class="left">
                <div>
                <a :href="'/article/'+article_obj.nid"><img :src="this.$root.bak_base_url + '/media/' + article_obj.cover_url" alt=""></a>
                </div>
            </div>
            <div class="right">
                <a href="/article/{{ article_obj.nid }}"><h2>{{ article_obj.title }}</h2></a>
                <p>{{ article_obj.abstract }}</p>
                <p>
                    <span>
                        <i class="fas fa-clock"></i>  {{ article_obj.create_date }}
                    </span>
                    <span>
                        <i class="fas fa-thumbs-up"></i>  {{ article_obj.digg_count }}  
                    </span>
                    <span>
                        <i class="far fa-eye"></i> {{ article_obj.look_count }}
                    </span>
                </p>
                <a target="_blank" class="detail_btn" href="/article/{{ article_obj.pk }}">
                    查看详情
                </a>
        </div>
    </div>
    <!-- 缺一个分页器 -->
</div>
</template>
<script>
export default {
    data() {
        return {
            
        }
    },
    mounted(){
    },
    props :{
        all_blogs: {
            // type: List
        },
    },
    methods: {
    }
}
</script>

<style lang="scss"> 
    @import "../../assets/font-awsome/css/all.min.css";  //使用fontawsome图标

    $padding-nav: 120px;
    $footer-ele-margin: 10px;
    $main-area-padding: 120px;
    $box-width: 20px;
    $box-height: 20px;
    $selected-blog-height: 100px;
    //卡片样式(基础样式,后面类负责个性化)
    .card_component{
        border-radius: 5px;
        background-color: white;
        margin: 20px 0 20px 0;
        h2{
            font-size: 24px;
            margin: 10px 0 0 10px;
            padding-bottom: 10px;
        }

        span>a{
            font-size:16px;
            color: #deb45e;
            margin-right: 20px;
        }
        
        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #f5f5f5;
            margin: 20px 0 0px 0;
        }
        .body{
            display: flex;
            margin: 5px 0 0 20px;
            padding-bottom: 5px;
        }
      
    }

    .list_blog{
        .body{
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
 
            h2{  // 这个地方work了
                margin: 0;
                font-size: 25px;
                color: #f1a122;
            }

            .left{
                margin: 10px 20px 20px 20px;
                width: 20%;
                >div{
                    width: 100%;
                    overflow: hidden;
                }

                img{
                    width: 225px;
                    transition: all 0.3s;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }

            .right{
                position: relative;
                padding: 20px 10px 20px 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 80%;
                font-size: 16px;

                p{
                    -webkit-box-orient : vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;
                    margin-bottom: 10px;
                    
                    span{
                        margin-right: 5px;
                        color: #555;
                    }
                }
                .detail_btn{
                    display: block;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 120px;
                    height: 40px;
                    color: white;
                    background-color: #ff9a00 ;
                    line-height: 40px;
                    text-align: center;
                    border-radius: 5px;

                }
            }
            &:first-child{
                margin: 0px 0px 20px 0px;
            }
        }
    }

</style>