<template lang="">
    <div class="selected_blog card_component" id="pos">
        <div class="title">
            <h2>精华文章</h2>
            <div class="switch-categories">
                <span v-for="(val, key, idx) in selected_category" :active="idx===show_idx" @click="setSelectedBlog(idx)">{{key}}</span>
            </div>
        </div>
        <div class="body">
            <!-- 精选内容 -->
            <ul v-for="(_, category, idx) in selected_articles" v-show="show_idx === idx" class="selected-web-blog">
                <li v-for="(article_item, idx) in selected_articles[category]">
                    <div class="left">
                        <div>
                            <a :href="'/article/' + article_item.nid">
                                <img :src="this.$root.bak_base_url + '/media/' + article_item.cover" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="right">
                        <a :href="'/article/' + article_item.nid"><h2>{{ article_item.title }}</h2></a>
                        <p>{{ article_item.abstract }}</p>
                        <span><i class="fas fa-clock"></i> {{ article_item.change_date }}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>

export default {
    data() {
        return {
            selected_category: {
                "web": ["web","前端", "后端"],
                "算法": ["算法"],
            },
            show_idx: 0,
        }
    },
    props :{
        selected_articles: {
            type: Object
        },
    },
    methods: {
        setSelectedBlog(idx){
            this.show_idx = idx
        },
    }
}
</script>

<style lang="scss"> 
    @import "../../assets/font-awsome/css/all.min.css";  //使用fontawsome图标

    $padding-nav: 120px;
    $footer-ele-margin: 10px;
    $main-area-padding: 120px;
    $box-width: 20px;
    $box-height: 20px;
    $selected-blog-height: 100px;
    //卡片样式(基础样式,后面类负责个性化)
    .card_component{
        border-radius: 5px;
        background-color: white;
        margin: 20px 0 20px 0;
        h2{
            font-size: 24px;
            margin: 10px 0 0 10px;
            padding-bottom: 10px;
        }

        span>a{
            font-size:16px;
            color: #deb45e;
            margin-right: 20px;
        }
        
        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #f5f5f5;
        }
        .body{
            display: flex;
            margin: 5px 0 0 20px;
            padding-bottom: 5px;
        }
    }

    .selected_blog{
        .title > .switch-categories{
            span{
                cursor: pointer;
                margin-right: 15px;
                font-size: 16px;
                color: #555;
                font-weight: bold;
                transition: all 0.2s;
                &:hover{
                    color: #ff9900;
                }

                &[active]{
                    color: #ff9900;
                }
            }
        }
        .body{
            padding: 0;
            margin: 0 10px;
            display: flex;
            flex-direction: column;
        }

        p{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; 
        }
        .body > ul{
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            li{
                width: 50%;
                display: flex;
                box-sizing: border-box;
                border-bottom: 1px solid #f0eeee;
                height: $selected-blog-height;

                >div {
                    height:  0.8*$selected-blog-height;
                    overflow: hidden;
                    width: 100%;
                }
                
                &:nth-child(1),&:nth-child(3),&:nth-child(5){
                    padding: 10px 10px 10px 0;
                    border-right: 1px solid #f0eeee;
                }

                &:nth-child(2),&:nth-child(4),&:nth-child(6){
                    padding: 10px;
                }
            }
            

            .left{
                box-sizing: border-box;
                width: 25%;
                img{
                    height: $selected-blog-height;
                    transition: all 0.3s;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }

            .right{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 75%;
                margin-left: 10px;
                h2{
                    margin: 0;
                    padding: 0;
                    color: #ff9900;
                }
                span{
                    font-size: 14px;
                    color: #555;
                }
            }
        }
    }

</style>