<template lang="">
    <div class="actions">
        <el-button  @click="drawer = true" type="primary" plain>完善文章功能</el-button>
    </div>
    <el-drawer
        v-model="drawer"
        title="编辑文章功能"
        :direction="drawer_direction"
        size="40%">

        <el-collapse v-model="activeNames"> 
            <el-collapse-item title="文章标题" name="1">
                <el-input
                    ref = "article_info_title"
                    class="capital"
                    placeholder="请输入标题"
                    v-model="capital_input"
                    clearable>
                </el-input>
            </el-collapse-item>

            <el-collapse-item title="文章简介" name="2">
                <el-input
                    ref = "article_info_abstract"
                    type="textarea"
                    class="abstract_input"
                    :rows="5"
                    placeholder="请输入简介"
                    v-model="abstract">
            </el-input>
            </el-collapse-item>

            <el-collapse-item title="分类、标签" name="3">
                <div class="input_list">
                    <!--单选框-->
                    <el-select 
                        filterable
                        allow-create
                        default-first-option
                        ref = "article_info_category"
                        class="category" 
                        v-model="category_input" 
                        placeholder="请选择分类"
                    >
                        <el-option
                            v-for="(title, nid) in preload_data.categories"
                            :label = "nid"
                            :value = "title">
                        </el-option>
                    </el-select>
                    <!--多选框-->
                    <el-select 
                        filterable
                        allow-create
                        default-first-option
                        ref = "article_info_tags"
                        class="tags" 
                        v-model="tags_input" 
                        multiple placeholder="请选择标签"
                    >

                        <el-option
                            v-for="(title, nid) in preload_data.tags"
                            :label= "nid"
                            :value= "title">
                        </el-option>
                    </el-select>
                </div>
            </el-collapse-item>

            <el-collapse-item title="文章封面" name="4">
                <div class="cover">
                    <div class="left">
                        <img class="cover_img" id="cover_img" covers="{{ covers }}" src="" alt="">
                    </div>
                    <div class="right">
                        <el-select @change="cover_change" class="article_cover" v-model="cover_input" placeholder="请选择封面图片" clearable>
                            <el-option
                                v-for="(nid, url) in preload_data.covers"  
                                :label="nid"
                                :value="url">
                            </el-option>
                        </el-select>
                    </div>
                </div>
            </el-collapse-item>
        </el-collapse>
        <el-button @click="release_article" id="article_release" type="success">发布文章</el-button>
    </el-drawer>
</template>
<script>
import axios from "axios"

export default {
    emits: ["contentErr"],
    data() {
        return {
            cover_input: null,
            drawer: false,
            drawer_direction: "rtl",
            activeNames: ['1'],
            capital_input: "",
            abstract: "",
            category_input: "",
            tags_input: ""
        }
    },
    props: {
        preload_data: {
            type: Object
        },
        blog_content: {
            type: String
        }
    },
    methods: {
        // 当封面选项框发生变化时的handler
        cover_change(){
            //由于elementui组件拿到当前val的值需要进行一下延时,因此用一个一次性的定时器
            let tmp = setInterval(()=>{
                let value = document.querySelector(".article_cover input").value
                let img_obj = document.querySelector(".cover_img")
                img_obj.src = this.$root.bak_base_url + "/media/" + value;
                clearInterval(tmp)   //定时器使用完毕后要及时清除,否则一直会存在!
            },1)
        },
        // 抽屉的析构函数
        drawerCloseHandler(done){
            done();
        },
        modify_article_handler(res) {
            res = res.data;
            this.$message.success("文章创建成功")
            tmp = setInterval(()=>{
                window.location.href = "/article/" + res.id   //登录成功后跳转
            },500)
        },
        release_article(){
            //查询输入的markdown内容
            let data = this.get_article_info()
            // console.log(data);
            axios.post(this.$root.bak_base_url + '/api/article/', data)
            .then(res=>{
                this.modify_article_handler(res)
            })
            .catch(err => {
                let res = err.response.data;
                // console.log(res)
                if(res.self === "content"){
                    this.$message.error(res.msg)
                    this.$emit(res.self + "Err", res.self)
                }
                else{
                    this.$message.error(res.msg)
                    this.$refs[`article_info_${res.self}`].focus() //获取焦点
                }
            })
        },
        // 发布文章所需要的所有内容
        get_article_info() {
            let content = this.blog_content;            
            return {
                title: this.capital_input,
                content: content,
                tags: this.tags_input,
                category: this.category_input,
                cover_id: parseInt(this.cover_input),
                abstract: this.abstract
            }
        },
    },
}
</script>
<style lang="scss">
    //按钮位置
    .actions{
    margin: 10px 0 10px 10px; 
    }

    //文章标题抽屉
    .capital{
        width: 80%;
        margin-left: 20px;
    }

    .markdown-body {
        li {
            list-style-type: unset;
        }
    }

    // 抽屉文字
    .el-collapse-item__header{
        font-size: 16px;
        margin-left: 5px;
    }

    .abstract_input {
        width: 80%;
        display: block;
        margin: 0 auto;

        > textarea{
            display: block;

        }
    }

    // 标签和分类抽屉
    .input_list{
        width: 100%;
        display: flex;
        justify-content: space-between;

        .category{
            width: calc((100% - 60px)/2);
            margin: 0 20px;
        }

        .tags{
            width: calc((100% - 40px)/2);
            margin-right: 20px;
        }
    }

    // 文章封面抽屉
    .cover {
        display: flex;
        width: 100%;
        .left{
            width: 40%;
            img {
                width: 100%;
                border-radius: 5px;
            }
        }
        
        .right{
            display: flex;
            align-items: center;
            width: 60%;
            box-sizing: border-box;
            
            .el-select{
                width: 80%;
                margin-left: 20px;
            }
        }

    }

</style>