<template lang="">
    <slot name="main_content">
        <div class="main_area">
            <div class="left">
                <selectedBlog :selected_articles="selected_articles"></selectedBlog>
                <allBlogs :all_blogs="all_blogs"></allBlogs>
            </div>
            <div class="right">
                <!-- 标签云 -->
                <tagsCloud :all_tags="all_tags"></tagsCloud>
            </div>  
        </div>
    </slot>
</template>
<script>
import axios from "axios";
import selectedBlog from "./main_content/selected-blogs.vue";
import allBlogs from "./main_content/all-blogs.vue";
import tagsCloud from "./utils/blog-tagscloud.vue";

export default {
    components: {
        selectedBlog,
        allBlogs,
        tagsCloud
    },
    data() {
        return {
            selected_articles: {},
            all_blogs: {},
            all_tags: []
        }
    },
    mounted() {
        this.getSelectedBlogsData();
        this.getAllBlogsData();
        this.getTagsData();
    },
    methods: {
        /*拿到精选博客内容*/
        getSelectedBlogsData(){
            axios.get(this.$root.bak_base_url + "/api/articles_selected/")
            .then((res) => {
                if(res.status == 200){

                    res.data = res.data["articles_brief"]
                    for(let item in res.data){
                        // 格式化时间
                        res.data[item] = res.data[item].map((item, idx) => {
                            let date_obj = new Date(item.change_date);
                            item.change_date = date_obj.getFullYear() + "年" + date_obj.getMonth() + "月" + date_obj.getDay() + "日" + "-" + date_obj.getHours() + "时" + date_obj.getMinutes() + "分";
                            return item;
                        })
                    }
                    this.selected_articles = res.data
                    // console.log(this.selected_articles)
                }
            }).catch((err) => {
                console.log(err)
            })
        },
        //拿到所有博客数据
        getAllBlogsData(){
            axios.get(this.$root.bak_base_url + "/api/" + "all-blogs/").then((res) => {
                // console.log(res.data.results);
                this.all_blogs = res.data.results
            }).catch((err) => {
                console.log(err);
            })
        },
        //拿到标签数据
        getTagsData(){
            axios.get(this.$root.bak_base_url + "/api/" + "tags/")
            .then((res) => {
                this.all_tags = res.data.results;
            })
            .catch((err) => {
                console.log(err)
            })
        }
    },
}
</script>

<style lang="scss">
$main-area-padding: 120px;

.main_area{
    width: calc(100%-#{2*$main-area-padding});
    padding: 0 $main-area-padding 0 $main-area-padding;
    display: flex;
    justify-content: space-between;
    .left{
        width: 70%;
    }
    .right{
        width: 29%;
    }
}

</style>