:root {
  --nav_bg: transparent;
  --nav_color: white;
  --nav_activate_bg: #292c35;
  --nav_activate_color: white;
  --main_bg: #6e7077;
  --main_color: #333;
  --footer_bg: #292c35;
  --footer_color: white;
}
