:root{
    --nav_bg: transparent;
    --nav_color:  white;         //字体颜色
    --nav_activate_bg: white;
    --nav_activate_color: #333;

    --main_bg: #f5f5f5;
    --main_color: #333;

    --footer_bg: white;
    --footer_color: #333;
}