<template>
  <div id="app">
      <router-view></router-view>
  </div>
</template>

<script>
  export default {
      name: 'App',
      data(){
          return {
              bak_base_url: import.meta.env.ENV_BAK_URL, // 后端路径
              theme: "light",
          }
      },
  }
</script>

<style lang="scss">
</style>