<template>
    <header>
        <div class="title">
            <h1>AdamLi's blog</h1>
            <p>It's never too late to learn</p>
        </div>
        <!-- 区分首页和文章页的轮播图插槽 -->
        <slot name="img_area" :base_article_url="base_article_url">
            <div class="dynamic_banner_div" v-for="(img_src, index) in banner_list" :key="index" >
                <img :src="img_src" alt="">
            </div>
        </slot>
    </header>
</template>

<script>
export default {
    data(){
        return{
            base_banner_url: this.$root.bak_base_url,
            base_article_url: this.$root.bak_base_url + "/media/",
            banner_list: [],
            article_banner: null
        }
    },
    props: [
        "article_info",
    ],
    created(){  
        window.myData = this;
        this.get_banner_url(); 
    },
    mounted() {
        if(!this.is_article_page()){
            this.set_switch_timer();
        }
        else{
            this.show_article_banner();
        }
    },

    methods: {
        is_article_page(){
            return window.location.href.indexOf("article") != -1
        },
        //获取banner图的路径
        get_banner_url(){
            //暂时将图片文件存在本地
            // const imgs = require.context('/public/img/banner/', false, /.*/).keys();
            // for(let img_name of imgs){
            //     this.banner_list.push(this.base_banner_url + img_name.substring(2, img_name.length)); // 将src让webpakc解析为打包后的地址)
            // }
            this.banner_list = [
                this.base_banner_url + "/media/banner/632075.jpg",
                this.base_banner_url + "/media/banner/672434.jpg",
                this.base_banner_url + "/media/banner/677543.jpg",
                this.base_banner_url + "/media/banner/wallhaven-6o7z77.jpg",
                this.base_banner_url  + "/media/banner/wallhaven-l3geq2.jpg",
                this.base_banner_url  + "/media/banner/wallhaven-y8lqo7.jpg"
            ]
        },
        //轮播图切换脚本
        set_switch_timer(){
            /*轮播图脚本*/
            let banner_divs = document.querySelectorAll(".dynamic_banner_div")
            // banner_divs[0].style.opacity = 1
            let index = 0
            let banner_num = banner_divs.length
            let timer = null

            //设置一个定时器
            timer = setInterval(()=>{
                index++
                if(index === banner_num){
                    index = 0
                }
                
                //默认都不显示(复位)
                for( let item of banner_divs){
                    // console.log(item)
                    item.style.opacity = 0
                }
                // console.log(banner_divs[index])
                banner_divs[index].style.opacity = 1
            },2000)
        },
        show_article_banner(){
            let banner_div = document.getElementsByClassName("dynamic_banner_div")[0] 
            banner_div.style.opacity = 1;
        }
    }
}

</script>

<style lang="scss">
    header{
        width: 100%;
        height: 700px;
        position: relative;        //!!父元素相对自己完全不动,这里如果不指定,则子元素会跟html的左上角进行定位,同时overflow也限制不住,因为它已经不再跟父元素进行定位!

        .dynamic_banner_div{
            position: absolute;    //子元素绝对定位
            left: 0;
            top: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            opacity: 0;             //默认所有图片都全透明

            overflow: hidden;
            transition: all 1s;
            img{
                width: 100%;  // 这里不能同时设置高度和宽度,否则会变形!
            }
        }

        //默认显示第一张轮播图
        .dynamic_banner_div:nth-of-type(1){  //这个地方不生效
            opacity: 1;
        }

        .title{
            opacity: 1;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 300px;
            height: 100px;
            text-align: center;
            transform: translate(-50%,-50%);  
            z-index: 3;
            color: white;
        }
    }
</style>