<template lang="">
    <div class="tags card_component">
        <div class="title">
            <h2>标签云</h2>
            <span><a href="#">查看更多</a></span>
        </div>
        <div class="body">
            <ul>
                <li  v-for="(tag_obj, idx) in all_tags"><a href="#">{{ tag_obj.title }}</a></li>
                <!-- {% for tag_obj in tag_list %}
                    <li><a href="">{{ tag_obj.title }}</a></li>
                {% endfor %} -->
            </ul>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
        
        }
    },
    props: {
        all_tags: {
            type: Array
        }
    }
}
</script>
<style lang="scss">
    $box-width: 20px;
    $box-height: 20px;

    .tags{
        .body{
            padding: 0;
            margin: 0;
        }

        ul{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 20px;
            
            position: relative;
            li{
                display: flex;
                justify-content: center;
                align-items: center;
                width: calc((100% - 3px) / 3);
                margin-top: 10px;
                font-size: 18px;
                &:first-child,&:nth-child(2),&:nth-child(3){
                    margin: 0px;
                }

                &:nth-child(6n+1),&:nth-child(6n+2),&:nth-child(6n+3){
                    background-color: #f5f5f5;
                }
                &:nth-child(3n+1),&:nth-child(3n+2){
                    border-right: 1px solid#f5f5f5;
                }
            }

            //橙色小方框是一个伪类元素
            &::before{
                position: absolute;
                top: 0;
                left: 0;

                display: block;
                width: $box-width;
                height: 20px;
                content: "";
                background-color: #ff9900;

                //绑定动画
                animation-name: move_box;
                -webkit-animation-name: move_box;
                animation-duration: 4s;
                -webkit-animation-duration: 4s;
                animation-iteration-count: infinite;
                -webkit-animation-iteration-count: infinite;
            }
            //小方块的动画
            @keyframes move_box{
                0%{
                    top: 0px;
                    left: 0px;
                }
                25%{
                    top: 0px;
                    left: calc(100% - #{$box-width});
                }
                50%{
                    top: calc(100% - #{$box-height});
                    left: calc(100% - #{$box-width});
                }
                75%{
                    top: calc(100% - #{$box-height});
                    left: 0px;
                }
                100%{
                    top: 0px;
                    left: 0px;
                }
                
            }

        }

    }
</style>