<template>
    <div class="footer">
        <div class="left">
            <p class="thanks">Thank For</p>
            <p>
                <div>
                    <img src="@/assets/img/footer/txy.svg" alt="">
                    <span>腾讯云域名</span>
                    <img src="@/assets/img/footer/encrypt.svg" alt="">
                    <span>SSL证书</span>
                </div>
            </p>
            <p class="version">
                <span class="left">version</span>
                <span class="right">0.0.0</span>
            </p>
            <p>
                <div>
                    <img src="@/assets/img/footer/backen.svg" alt="">
                    <span>建站日期: 2022-08-03</span>
                </div>
            </p>

        </div>
        <div class="right">
            <p>
                <div class="my_sites">
                    <div class="contact">
                        <img class=icon src="@/assets/img/footer/qq.svg" alt="">
                        <img class= "qr_code" src="@/assets/img/footer/qq_qr.jpg" alt="">
                    </div>
                    <div>
                        <a href="https://space.bilibili.com/238025210" target="_blank">
                            <img src="@/assets/img/footer/blibli.svg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="https://github.com/lzd-1230" target="_blank">
                            <img src="@/assets/img/footer/github.svg" alt="">
                        </a>
                    </div>
                </div>
            </p>
            <p>联系邮箱: 576262501@qq.com</p>
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="scss">
$footer-ele-margin: 10px;
    .footer{
        width: 100%;
        min-height: 200px;
        background-color: var(--footer_bg);
        color: var(--footer_color);
        display: flex;
        font: 14px;
        p{
            margin-top: 5px;
        }
        .thanks{
            color: #4eacc0;
            font-size: 30px;
        }

        .version{
            display: flex;
            align-items: center;
            color: white;
            width: 140px;
            .left{
                background-color: #ff9900;
                border-radius: 5px 0 0 5px;
            }
            .right{
                background-color: #3eb3ce;
                border-radius: 0 5px 5px 0;
            }
        }
        .contact{
            display: flex;
            position: relative;

            a{
                z-index: 1;
            }
            .qr_code{  //如何解决定位后仍占据原本位置的问题?
                position: absolute;

                width: 80px;
                left: -40px;
                top: 0px;
                opacity: 0;
                z-index: 0;
            }
            .icon{
                z-index: 1;
                position: relative;
                &:hover{
                    cursor: pointer;

                    &~.qr_code{
                        transition: all 0.3s;  //这里有个问题就是上不去
                        left: -28px;
                        top: -75px;
                        opacity: 1;
                    }
                }
            }
        }

        .left, .right{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;      //水平居中
            justify-content: center;  //竖直居中

            > div{
                display: flex;
                align-items: center;      //水平居中
                justify-content: center;  //竖直居中
                img{
                    width: 25px;
                    margin-right: $footer-ele-margin;
                }
                span{
                    margin-right: $footer-ele-margin;
                }
            }        
        }
    }
</style>