<template>
    <nav class="blog-nav">
        <!-- 导航条 -->
        <div class="left">
            <router-link to="/">首页</router-link>
            <router-link to="#">分类</router-link>
            <router-link to="#">标签</router-link>
            <router-link to="#">关于</router-link>
        </div>
        <!-- 登陆注册 -->
        <div class="right">
            <!-- v-show控制只有一个图标显示 -->
            <img v-show="curTheme === 'light'"  src="../../assets/img/nav/moon.svg" @click="setTheme('dark')" alt="">
            <img v-show="curTheme === 'dark'" src="../../assets/img/nav/sun.svg"  @click="setTheme('light')" alt="">
            
            <!-- 前端判断用户是否登录-->
            <span v-if="user_token">
                <el-dropdown>
                    <span class="el-dropdown-link">
                        {{ username }}
                        <el-icon class="el-icon--right">
                            <arrow-down />
                        </el-icon>
                    </span>
                    <template v-slot:dropdown>
                        <el-dropdown-menu>
                            <a href="/self_center/"><el-dropdown-item >个人中心</el-dropdown-item></a>
                            <a href="/admin/"><el-dropdown-item divided>后台管理</el-dropdown-item></a>
                        </el-dropdown-menu>
                    </template>

                </el-dropdown> 
                <a @click="logout" href="#">注销</a>
            </span>
               
            <span v-else>
                <a href="/login">登录</a>
                <a href="/regist">注册</a>
            </span>

        </div>
    </nav>
</template>

<script setup>
    import { ArrowDown } from '@element-plus/icons-vue'
</script>

<script>
    export default {
        data() {
            return {
                user_token: "",
                username: "",
                curTheme: this.$root.theme
            }
        },
        watch: {
            "$root.theme": {
                handler(newVal){
                    this.curTheme = newVal;
                },
                deep: true
            }
        },
        mounted() {
            this.checkLoginToken();
            this.dynamicNav();
        },
        methods: {
            // 点击设置主题槽函数
            setTheme(themeName){  
                this.$root.theme = themeName
                //持久化在浏览器本地,以便下次打开仍是该主题
                localStorage.setItem('theme',themeName)
            },

            /*动态导航栏*/
            dynamicNav(){
                let nav = document.querySelector(".blog-nav")
                window.onscroll = function (){
                    /*
                    * info: 滚轮事件监听
                    */
                    let top = document.documentElement.scrollTop
                    if(top > 600){
                        nav.classList.add("activate")
                    }
                    else{
                        nav.classList.remove("activate")
                    }
                }
            },

            /*检查登录状态*/
            checkLoginToken(){
                this.user_token = this.$cookies.get("user_token");
                this.username = this.$cookies.get("user_name");
                return this.user_token;
            },

            logout(){
                this.$cookies.remove("user_token");
                this.$cookies.remove("user_name");
                this.checkLoginToken();
            }
        },

    }
</script>
<style lang="scss">
$padding-nav: 120px;
$footer-ele-margin: 10px;
$main-area-padding: 120px;
$box-width: 20px;
$box-height: 20px;
$selected-blog-height: 100px;

nav{
    width: calc(100% - 2 * #{$padding-nav}); 
    height: 60px;
    display: flex;
    padding: 0 60px;
    align-items: center;
    padding: 0 $padding-nav;
    background-color: var(--nav_bg);  //背景色
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 0.6s; 

    .left{
        width: 60%;
    }

    .right{
        display: flex;
        width: 60%;
        justify-content: right;
        img{
            height: 25px;
            margin-right: 20px;
            cursor: pointer; 
        }
        span{
            color: var(--nav_color);
            font-size: 18px;
            margin-right: 20px;
        }
    }

    // a标签的间距
    a{ 
        font-size: 18px;
        color: var(--nav_color);
        margin-right: 20px;
        &:last-child{  //让最后一个a标签右边没有margin
            margin-right: 0px;
        }
    }
}

nav.activate{
    background-color: var(--nav_activate_bg);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    // transition: all 0.6s;
    a {
        color: var(--nav_activate_color);
    }
    .right{
        span{
            color: var(--nav_activate_color);
        }
    }
}
</style>